* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.primary__nav {
  min-height: 53px;
  background-color: #252525;
}

.primary__nav .container-top {
  max-width: 940px;
  margin: 0 auto;
}

.primary__nav .primary {
  min-height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.primary__nav .primary .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.primary__nav .primary .logo-img {
  padding: 15px 26px 17px 23px;
  background-color: #353333;
}

.primary__nav .primary h1 {
  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 24px;
  padding: 10px 0 0 9px;
}

.primary__nav .primary .search-icon {
  padding: 18px 23px 19px 23px;
  background-color: #353333;
  margin-left: 20px;
  cursor: pointer;
}

.primary__nav .primary .nav-links {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 80%;
  list-style: none;
  font-size: 14px;
  line-height: 27px;
  padding-top: 5px;
}

.primary__nav .primary .nav-links a {
  text-decoration: none;
  color: white;
  padding: 0px 20px 0 20px;
}

@media screen and (max-width: 775px) {
  .primary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 178px;
  }

  .primary .logo-img {
    background-color: transparent !important;
  }

  .primary .nav-links {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    font-size: 16px !important;
    margin-top: 25px;
  }

  .primary .search-icon {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 15px;
  }
}

.secondary__nav {
  height: 53px;
  background-color: #4d4382;
}

.secondary__nav .secondary {
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.secondary__nav .container-top {
  max-width: 940px;
  margin: 0 auto;
}

.secondary__nav .burger {
  display: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin-top: 15px;
  margin-left: auto;
}

.secondary__nav .burger div {
  width: 30px;
  height: 4px;
  background-color: #dbdbdb;
  margin: 5px;
}

.secondary__nav .secondary-nav-links {
  height: 53px;
  font-family: "Bitter", serif;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  padding-left: 0;
  list-style: none;
  font-size: 18px;
  line-height: 22px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 610px;
  padding-top: 10px;
}

.secondary__nav .secondary-nav-links a {
  text-decoration: none;
  color: white;
  padding: 10px 22px 15px 22px;
}

.secondary__nav .secondary-nav-links .close-nav {
  display: none;
}

.secondary__nav .secondary-nav-links .nav-news {
  display: inline-block;
  background-color: #299ec3;
  padding: 15px 21px 14px 20px;
  width: 93px;
  height: 53px;
  margin-top: -10px;
}

.secondary__nav .secondary-nav-links .nav-business {
  border-bottom: 6px solid #ee6151;
}

.secondary__nav .secondary-nav-links .nav-sport {
  border-bottom: 6px solid #84c14f;
}

.secondary__nav .secondary-nav-links .nav-life {
  border-bottom: 6px solid #5dcff3;
}

.secondary__nav .secondary-nav-links .nav-tech {
  border-bottom: 6px solid #fcc44d;
}

.secondary__nav .secondary-nav-links .nav-travel {
  border-bottom: 6px solid #a99765;
}

@media screen and (max-width: 775px) {
  .secondary__nav {
    height: 65px;
  }

  .secondary__nav .secondary {
    height: 65px;
    padding-right: 20px;
  }

  .secondary__nav .secondary-nav-links {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0px;
    height: 100vh;
    background-color: #4d4382;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    z-index: 1000;
  }

  .secondary__nav .secondary-nav-links .close-nav {
    position: absolute;
    top: 20px;
    right: 25px;
    color: #f1f1f1;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
  }

  .secondary__nav .secondary-nav-links .nav-news {
    background-color: transparent;
    border-bottom: 6px solid #299ec3;
  }

  .secondary__nav .burger {
    display: block;
  }
}

body {
  background-color: #eeeeee;
}

.slider-img {
  width: 940px;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.wrapper .banner {
  margin: 19px auto;
  max-width: 940px;
  height: 120px;
  border: 1px solid #d7d7d7;
  background-color: white;
}

.wrapper .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .main .banner-news {
  margin: 19px auto;
  max-width: 100%;
  height: 120px;
  border: 1px solid #d7d7d7;
  background-color: white;
}

.wrapper .single-carousels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
}

@media screen and (max-width: 700px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main .categories {
    max-width: 100%;
  }

  .main .categories .news {
    margin-left: 10%;
  }

  .main .side-content {
    max-width: 100%;
    -ms-flex-item-align: center;
        align-self: center;
    margin-left: -10px;
  }
}

.slider-img {
  max-width: 100%;
  height: 425px;
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient {
  padding-top: 61px;
  padding-left: 30px;
  position: absolute;
  width: 940px;
  height: 240px;
  bottom: 0;
  background-image: url("/var/assets/gradient.png");
  color: white;
}

.gradient .text {
  width: 588px;
  height: 113px;
}

.gradient .text .top-text {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 14.5px;
}

.gradient .text .top-text .date {
  padding-right: 32px;
}

.gradient .text .top-text img {
  padding-right: 6px;
  padding-top: 1.5px;
}

.gradient .text h1 {
  font-family: "Bitter", serif;
  font-weight: 700;
  padding-top: 5px;
  font-size: 34px;
  line-height: 41px;
}

.gradient button {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  cursor: pointer;
  border: 1px solid white;
  color: white;
  width: 123px;
  height: 33px;
  padding: 0;
  background-color: transparent;
  font-size: 14px;
  line-height: 17px;
}

.prev-arrow--slider {
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
  width: 36px;
  height: 55px;
  z-index: 999;
  position: absolute;
  left: 4%;
  top: 40%;
  cursor: pointer;
}

.next-arrow--slider {
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
  width: 36px;
  height: 55px;
  z-index: 999;
  position: absolute;
  right: 4%;
  top: 40%;
  cursor: pointer;
}

@media screen and (max-width: 570px) {
  .slider-img .gradient .text {
    width: 260px;
  }

  .slider-img .gradient .text .slider-heading {
    max-width: 400px;
    font-size: 20px !important;
    line-height: 28px;
  }
}

.categories {
  max-width: 100%;
}

.category {
  margin-top: 19px;
  max-width: 100%;
  height: 325px;
  padding: 15px 32px 28px 30px;
  background-color: white;
}

.category .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}

.category .heading h1 {
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #363f48;
}

.category .heading a {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #3677b5;
  text-decoration: none;
  border-bottom: 1px solid rgba(54, 119, 181, 0.3);
}

.category .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.category .news .news-article {
  text-decoration: none;
  max-width: 170px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.category .news .news-article .news-image {
  height: 128px;
  width: 170px;
}

.category .news .news-article .news-date {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.5px;
  color: #666666;
  padding-top: 6px;
}

.category .news .news-article .news-heading {
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #363f48;
  text-decoration: none;
}

.news-border {
  border-left: 9px solid #3677b5;
}

.sport-border {
  border-left: 9px solid #84c14f;
}

.business-border {
  border-left: 9px solid #ee6151;
}

.business {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 940px) {
  .main {
    margin-left: 10px;
  }

  .categories {
    max-width: 60%;
  }

  .side-content {
    max-width: 40%;
  }

  .category {
    height: auto;
  }

  .category .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 20%;
  }

  .category .news .news-article {
    width: 230px;
  }

  .category .news .news-heading {
    width: 230px;
  }

  .category .news .news-image {
    width: 230px;
    height: auto;
  }

  .category .news .news-num {
    padding-left: 115px;
  }
}

