<aside class="social">
   <h1>Social</h1>
   <div class="facebook">
     <img src="/var/assets/facebook.svg" alt="facebook icon" />
     <a href="#" class="follow">Like</a>
     <p class="followers">25041 Fans</p>
   </div>
   <div class="twitter">
     <img src="/var/assets/twitter.svg" alt="facebook icon" />
     <a href="#" class="follow">Follow</a>
     <p class="followers">25041 Followers</p>
   </div>
   <div class="youtube">
     <img src="/var/assets/youtube.svg" alt="facebook icon" />
     <a href="#" class="follow">Subscribe</a>
     <p class="followers">941 Subscribers</p>
   </div>
</aside>