<header>
  <div class="primary__nav">
    <div class="container-top">
      <nav class="primary">
        <div class="logo">
          <img class="logo-img" src="/var/assets/logo.svg"/>
          <h1>Kenaz</h1>
        </div>
        <ul class="nav-links">
          <li><a href="#">{{ 'Media' | trans }}</a></li>
          <li><a href="#">{{ 'Marketing' | trans }}</a></li>
          <li><a href="#">{{ 'Contact' | trans }}</a></li>
        </ul>
        <img class="search-icon" src="/var/assets/search-icon.svg"/>
      </nav>
    </div>
  </div>
  <div class="secondary__nav">
    <div class="container-top">
      <nav class="secondary">
        <ul class="secondary-nav-links">
          <span class="close-nav">&times;</span>
          <li><a class="nav-news" href="/Homepage">News</a></li>
          <li><a class="nav-business" href="#">Business</a></li>
          <li><a class="nav-sport" href="#">Sport</a></li>
          <li><a class="nav-life" href="#">Life</a></li>
          <li><a class="nav-tech" href="#">Tech</a></li>
          <li><a class="nav-travel" href="#">Travel</a></li>
        </ul>
        <div class="burger">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </nav>
    </div>
  </div>
</header>
