<h1 class="heading">Newsletter</h1>
<p class="text">
  Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Provident, fugit vel!
</p>
<form class="subscribe" action="subscribe">
  <input
    class="subscribe-input"
    placeholder="Your mail"
    type="email"
    name="email"
  />
  <button type="submit" class="subscribe-btn">Subscribe</button>
</form>